*.log

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

############
## Node.JS
############
node_modules
minidumps
**/symbols

**/static/dist/*
**/static/ext/*
**/obj
**/obj/*

# WebStorm
.idea/*
.idea
*.iml
.idea/Caliper.iml
.idea/jsLibraryMappings.xml