doctype html
html(lang="en", ng-app="caliperApp")
	include header
	body(style="padding-top: 70px;", ng-controller="NavigatorCtrl")
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					a.navbar-brand(href='/') Caliper
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Projects
								b.caret
							ul.dropdown-menu
								li(ng-repeat="project in projects")
									a(href="/projects/{{project.title}}")
										| {{project.title}}
					ul.nav.navbar-nav.navbar-right
						form.navbar-form.navbar-left(role='search')
							input.form-control(type='text', placeholder='Search')

		block content