doctype html
html(lang="en")
	head
		title #{page_title}
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
	body
		block content